$breakpoint-desktop: 1920px;
$breakpoint-pre-middle: 1300px;
$breakpoint-middle: 1100px;
$breakpoint-tablet: 768px;
$breakpoint-after-tablet: 760px;
$breakpoint-pre-mobile: 570px;
$breakpoint-mobile: 380px;
