:root {
  //Colors
  --white: #fff;
  --bg: #f9f8f3;
  --bg-footer: #1e1b3a;
  --bg-footer-low: #2a264f;
  --on-bg-footer: #b9b5c9;
  --black: #111;
  --primary: #ffd02b;
  --on-primary: #242145;
  --avatar-random-1: #e9eef6;
  --avatar-random-2: #a3e2c9;
  --avatar-random-3: #bce3ff;
  --avatar-random-4: #ffc6ff;
  --avatar-random-5: #e8dff5;
  --secondary: #f0eeff;
  --like: #ff4b4b;
  --tertiary: #3a2ebf;
  --on-bg: #5f5d75;
  --outline: #e5e7eb;
  --on-bg-low: #737380;
  --price-free: #0b8a8f;
  --outline-variant: #d2d2d2;
  --text-placeholder: #969696;
  --primary-low: #fde047;
  --primary-high: #e5bb00;
  --error: #b3261e;
  --surface: #fff9e5;
  --bg-footer-lowest: #3c376e;
  --surface-low: #fffcf5;

  //Sizes
  --page-min-width: 320px;

  --size-05: 4px;
  --size-1: 8px;
  --size-2: 16px;
  --size-3: 24px;
  --size-4: 32px;
  --size-5: 40px;
  --size-6: 48px;
  --size-7: 56px;
  --size-8: 64px;
  --size-9: 72px;
  --size-10: 80px;
  --size-11: 88px;
  --size-12: 96px;
  --size-13: 104px;
  --size-14: 112px;
  --size-15: 120px;

  // Borders
  --corner-extra-small: 4px;
  --corner-small: 8px;
  --corner-medium: 12px;
  --corner-large: 16px;
  --corner-extra-large: 24px;
  --corner-full: 9999px;

  //Paddings Btn
  --btn-large-padding: 24px 16px;
  --btn-medium-padding: 10px 20px;
  --btn-small-padding: 16px 8px;
  --btn-icon-padding: 8px;

  //Shadows
  --shadow-level-1: 4px 4px 0 var(--on-primary);
  --shadow-level-2: 6px 6px 0 var(--on-primary);
  --shadow-level-3: 8px 8px 0 var(--on-primary);

  //Font sizes
  --display-large: 56px;
  --display-medium: 36px;
  --display-small: 24px;
  --headline-large: 32px;
  --headline-medium: 24px;
  --headline-small: 20px;
  --body-large: 18px;
  --body-medium: 16px;
  --body-small: 14px;
  --label-extra-large: 16px;
  --label-large: 14px;
  --label-medium: 12px;
  --label-small: 10px;

  //Font Weights
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --extra-bold: 800;

  //Fonts family
  --font-family: 'Inter', sans-serif;
  --second-family: 'Roboto', sans-serif;
  --third-family: 'Google Symbols', sans-serif;
}
