@use '../../styles/mixins' as *;

.header {
  width: 100%;
  background-color: var(--bg);
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: var(--size-3);
  min-height: var(--size-10);
  padding: 0 var(--size-10);
}

.headerLogoWrap {
  display: inline-flex;
  align-items: center;
  gap: var(--size-1);
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

.headerLogoText {
  font-weight: var(--bold);
  font-size: var(--headline-medium);
  color: var(--on-primary);
}

.headerLogoIcon {
  width: var(--size-4);
  height: var(--size-4);
}

.headerNavList {
  display: flex;
  align-items: center;
  gap: var(--size-5);
  margin-left: auto;
}

.headerNavLink {
  color: var(--on-bg);
  font-size: var(--body-medium);
  font-weight: var(--medium);
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1px;

  &.headerNavLinkActive {
    font-weight: var(--bold);
    color: var(--on-primary);
  }
}

.headerBtnsWrapper {
  display: flex;
  align-items: center;
  gap: var(--size-2);
}

.signUpBtn {
  background-color: var(--primary);

  &:hover {
    background: var(--primary-high);
  }
}

.logInBtn {
  &:hover {
    background: var(--primary-low);
  }
}

.headerBtn {
  padding: var(--btn-medium-padding);
  border: 2px solid var(--on-primary);
  border-radius: var(--corner-small);
  font-size: var(--label-large);
  font-weight: var(--bold);
  color: var(--on-primary);
  cursor: pointer;

  &:disabled {
    color: var(--on-bg-low);
    background-color: var(--outline);
    cursor: not-allowed;
  }
}

.headerMobileMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerMenuBtn {
  display: none;
}

.mobileMenu {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: var(--size-3);
  background-color: var(--bg-footer);

  transform: translateX(100%);
  visibility: hidden;
  pointer-events: none;
  transition:
    transform 0.3s ease,
    visibility 0.3s ease;
}

.mobileMenuOpen {
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}

.mobileMenuCloseBtn {
  margin-left: auto;
  font-size: var(--headline-large);
  color: var(--white);
  border-radius: var(--corner-small);
  width: 32px;
  height: 32px;
  background: var(--bg-footer-low);
}

.mobileNavList {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  margin: var(--size-4) auto 225px 0;
  align-items: flex-start;

  .headerNavLinkActive {
    color: var(--primary);
  }
}

.mobileNavList a {
  font-size: var(--body-large);
  font-weight: var(--medium);
  color: var(--on-bg-footer);
}

.scrollLocked {
  overflow: hidden;
}

//=== Media
@include middle {
  .headerNavList {
    gap: var(--size-3);
  }

  .headerMobileMenu {
    .headerLogoText {
      color: var(--white);
    }
  }

  .headerContainer {
    padding: 0 var(--size-2);
    gap: var(--size-1);
  }

  .mobileMenu {
    .logInBtn {
      color: var(--white);
      border: solid 2px var(--white);
      width: 60%;
      margin: 0 auto var(--size-2);
    }

    .signUpBtn {
      width: 60%;
      margin: 0 auto;
    }

    .logInBtn:hover {
      border: solid 2px var(--primary);
      background: var(--bg-footer);
    }
  }
}

@include tablet {
  .headerContainer {
    min-height: var(--size-8);
    gap: var(--size-2);
    justify-content: space-between;
  }

  .mobileMenu {
    .logInBtn,
    .signUpBtn {
    }
  }

  .headerBtnsWrapper {
    margin-left: auto;
  }

  .headerContainer {
    .headerNavList {
      display: none;
    }
  }

  .headerContainer {
    .logInBtn {
      display: none;
    }
  }

  .headerMenuBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--size-5);
    height: var(--size-5);
    border: 2px solid var(--on-primary);
    border-radius: var(--corner-small);
    color: var(--on-primary);
  }

  .headerLogoText {
    font-size: var(--headline-small);
  }

  .signUpBtn {
    border: 2px solid var(--black);
  }
}

@include mobile {
  .headerContainer {
    min-height: var(--size-7);
    padding-block: var(--size-1);
  }

  .headerBtnsWrapper {
    gap: var(--size-05);
  }

  .headerBtn {
    padding: var(--btn-icon-padding);
  }

  .headerContainer {
    .signUpBtn {
      display: none;
    }
  }

  .mobileMenu {
    .logInBtn,
    .signUpBtn {
      width: 272px;
    }
  }

  .mobileMenu {
    padding: 22px 50px 0;
  }
}
